.wrapper {
  width: 100vw;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 200ms ease-out;
  padding: 16px 48px;
  margin-bottom: 24px;

  h1 {
    justify-self: start;

    span {
      display: inline-block;
    }
  }

  >div:last-of-type {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 16px;
  }
}