.wrapper {
  width: 100vw;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 200ms ease-out;
  padding: 16px 48px;
  margin-bottom: 24px;

  h1 span {
    display: inline-block;
  }

  >div:last-of-type {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}