.ui-clickable {
  background: none;
  border: none;
  overflow: hidden;
  transition: 0.4s ease;
  position: relative;

  &-pointer {
    height: 40px;
    width: 40px;
    background-color: #fff;
    filter: blur(40px);
    opacity: 0;
    transform: scale(0);
    position: absolute;
  }
}