.wrapper {
  min-height: 100vh;
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  padding: 100px 32px;
  margin: 0 auto;
}