.wrapper {
  width: 128px;
  background-color: #7f7f7f;
  border-radius: 8px;
  position: absolute;
  left: 8px;
  padding: 8px 0;

  ul {
    list-style: none;

    li {
      height: 24px;
      display: flex;
      align-items: center;
      padding-inline: 8px;
      margin-bottom: 4px;
      cursor: pointer;

      &:last-of-type {
        margin: 0;
      }
      &:hover {
        background-color: #b2b2b2;
      }
    }
  }
}