.wrapper {

  h3 {
    white-space: nowrap;
    margin-bottom: 4px;
    cursor: pointer;

    &:first-letter {
      text-transform: capitalize;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  >div {
    margin-bottom: 24px;

    >h4 {
      color: #b2b2b2;
      margin-bottom: 8px;
    }
    div {
      display: flex;
      align-items: center;
      position: relative;

      input {
        height: 32px;
        width: 100px;
        background-color: transparent;
        border: 1px solid #7a7a7a;
        border-radius: 8px;
        color: #fff;
        transition: 200ms;
        padding: 0 4px;
        margin-right: 8px;

        &:hover, &:focus {
          border-color: #fff;
          outline: none;
        }
      }
      div {
        height: 32px;
        width: 32px;
        border: 1px solid #7a7a7a;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -32px;
        color: #7a7a7a;
        transition: 200ms;
        cursor: pointer;

        &:hover {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}