.wrapper {
  height: 48px;
  width: 364px;
  position: relative;

  input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid #7a7a7a;
    border-radius: 16px;
    color: #fff;
    transition: 200ms;
    padding: 0 16px;

    &:hover, &:focus {
      border-color: #fff;
      outline: none;
    }
    &:valid ~ span, &:focus ~ span {
      background-color: #000;
      color: #fff;
      font-size: 12px;
      transform: translateY(-32px);
    }
  }
  span {
    color: #7a7a7a;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: 400ms;
    pointer-events: none;
    padding: 0 4px;
  }
  div {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}