.wrapper {
  width: 600px;
  background-color: #000;
  border: 1px solid #7a7a7a;
  border-radius: 8px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-out;
  opacity: 0;
  z-index: 1;
  padding: 64px;

  >div:first-of-type {
    height: 36px;
    width: 36px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;

    &:hover {
      border-color: #fff;
      font-size: 20px;
    }
  }
  >h1 {
    margin-bottom: 36px;
  }
  >div:not(div:first-of-type, div:last-of-type) {
    margin: 0 auto 16px;
  }
  >div:last-of-type {

    div:first-of-type {
      height: 48px;
      width: 364px;
      background-color: #fff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 200ms;
      margin: 32px auto 12px;
      cursor: pointer;

      h4 {
        color: #000;
        font-weight: 600;
        margin-left: 8px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    div:last-of-type {
      width: fit-content;
      display: flex;
      align-items: center;
      margin: 0 auto;

      h5:last-of-type {
        font-style: italic;
        margin-left: 4px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}