.wrapper {
  display: flex;
  align-items: center;
  position: relative;

  div {
    height: 36px;
    width: 36px;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
    color: #7a7a7a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}