.cartModal {
  height: 100%;
  width: 400px;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(20px);
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -400px;
  transition: 200ms;
  z-index: 1;
  padding: 32px;

  &Active {
    right: 0;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 36px;
  }

  .bottom {
    display: flex;
    flex-direction: column;

    >div {
      border-bottom: 1px solid #7a7a7a;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 8px;
      margin-bottom: 32px;
    }
  }
}