.wrapper {
  height: 100vh;
  padding: 128px 224px;

  >div:first-of-type {
    display: flex;

    >div:first-of-type {
      height: 700px;
      min-width: 800px;
      background-color: #fff;
      border: 80px solid #fff;
      position: relative;
      margin-right: 124px;

      img {
        object-fit: contain;
      }
    }
    >div:last-of-type {
      width: 420px;

      >h5, >h4 {
        margin-bottom: 24px;
      }
      >h1 {
        margin: 36px 0 16px;

        &:first-of-type {
          margin: 0 0 24px;
        }
      }
      >h5:first-letter, >h4:first-letter {
        text-transform: capitalize;
      }
      >div:not(div:last-of-type) {
        margin-bottom: 24px;

        h3 {
          margin-bottom: 16px;
        }
        >div {
          display: flex;
          align-items: center;

          div {
            height: 50px;
            width: 60px;
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            cursor: pointer;
          }
        }
      }
      >div:last-of-type {
        height: 50px;
        border: 1px solid #fff;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: #fff;

          h3 {
            color: #000;
          }
        }
      }
    }
  }
}